body { 
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 1200px;
    
    box-sizing:border-box;
    font-family: verdana;
    font-size: 12px;
    border-bottom: 5px solid #003da4;
    border-radius: 5px;
   
    
    
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:visited
{ color: #003da4 }

.logo { 
    display: inline-block;
    position: absolute;
    top: -30px;
    height: 150px;
   
    
}
.logo2 {
    position:absolute;
    max-width: 300px;
    left: 10%;
}
.uk {
    border-radius: 20px;
    
    
}

.bg {
    border-radius: 20px;
    
    

}
.up-nav { 
    
    
    align-items: center;
    
    
    
    
}
.up-nav a{ 
    display: flex;
    color:#003da4;
    justify-content: flex-end;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
   
    
    
    
    
}

.up-nav-ul { 
    justify-content: flex-end;
    display: flex;
    
    flex-direction: row;
    flex-wrap:wrap;
    border-radius: 8px;
  
    
    
    
    
}
.up-nav li a {
    background-color:rgb(247, 247, 247);
    padding-left: 3px;
    padding-right: 3px;
    
    border-radius: 75px;
}

.up-nav li a:hover {
  color: rgb(255, 255, 255);
  
}
.up-nav a:hover, .up-nav a:active {
    background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    
    transition: 0.5s;
    border-radius: 75px;
  }
.down-nav { 
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    
   
}
.inline { 
    padding-left: 3px;
    padding-right: 3px;
   
    
}
.inline2 { 
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    
    
}
.inline-search {
    padding-left: 3px;
    padding-right: 3px;
}
.down-nav a{ 
    border-radius: 3px;;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: space-around;
    color:#003da4;
    font-weight: 600;
    
    
   
}
.down-nav li a {
    background-color:rgb(247, 247, 247);
    padding: 10px;
    border-radius: 75px;
    
}
.down-nav-ul {
    flex-wrap:wrap;
}
.down-nav li a:hover {
  color: rgb(255, 255, 255);
}
.down-nav a:hover, .down-nav a:active {
    background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    padding: 10px;
    transition: 0.7s;
    border-radius: 75px;
  }
.down-nav-ul { 
    display: inline-flex;
    flex-direction: row;
    
    
    
    
    
}

/* Header */
/* main */ 
header { 
    position:relative;
}
.planirane-main {
    display: block;
 
}
.eurolife-main { 
    color: #003da4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    
    border-radius: 5px;
    
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    
}

.why-to-chose {
    color: #003da4;
    margin-top: 20px;
    
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    
}
.box-a { 
    border-top: 5px solid #003da4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    
}
.box-a p{
    font-size: 16px;
}
.header-why{
   
    font-size: 30px;
    color:#095EBA;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.box-a{
    width:25%;
    float: left;
    margin: 50px 20px;
    
}
.info { 
    padding-inline-start: 0px;
    color:#0f4f9b;
}
/* .icons { 
    display: inline-flex;
    margin-inline-start: auto;
    
    margin-inline-end: auto;
    padding-inline-start: 0px;
} */
.pos {
    display: inline-flex;
    padding-inline-start: 0px;
    
    
}
.pos li i{ 
    font-size: 30px;
    position: relative;
    background-color: #f7f7f7;
    padding: 3px;
    border-radius: 3px;;
    border-style: solid;
    border-width: 2px;
    
}
.icon1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    
}
.icon2 {
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.icon3 {
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.icon4 {
    font-size: 30px;
    display: flex;
    justify-content: center;
}


.images {
    display: flex;
    border-bottom: 5px solid #003da4;
    border-radius: 5px;
    
}


.image img {
    height: 500px;
    width: 100%;
    transition: all 0.15s ease;
    
}
.images input { 
    display: none;
}

 


#img1:checked ~ .m1 {
    margin-left: 0;
    transition: all 0.1s ease;
 }
 #img2:checked ~ .m2 {
    margin-left: -100%;
    transition: all 0.1s ease;
 }
 #img3:checked ~ .m3 {
    margin-left: -200%;
    transition: all 0.1s ease;
 }
 #img4:checked ~ .m4 {
    margin-left: -300%;
    transition: all 0.1s ease;
 }
.info { 
    padding-inline-start: 0px;
    line-height: 2;
    font-weight: bold;
}
.head a{
    border-radius: 3px;;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: space-around;
    color:#003da4;
    font-weight: 600;
    padding: 7px;
    background-color: rgb(247, 247, 247);
    border-radius: 75px;
}
.head a:hover {
    color: white;
}
.head a:hover, .head a:active {
    background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    padding: 7px;
    transition: 0.7s;
    border-radius: 75px;
}
/* BIZNES PART *//* BIZNES PART */
/* BIZNES PART */
/* BIZNES PART */
/* BIZNES PART */
/* BIZNES PART */
/* BIZNES PART */
/* BIZNES PART */


.banner { 
    position: relative;
    
}
.center { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
    color:#f7f7f7;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.main-banner {
    width: 1200px;
    max-width: 100%;
    height: auto;
    height: 300px;
    object-fit:cover;
    border-top: 5px solid #003da4;
    border-bottom: 5px solid #003da4;
    border-radius: 5px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}
/* text ofromlenie */
.first-document {
    max-width: 1000px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}
.first-document-text {
    position: relative;
    
    overflow: hidden; 
}
.first-document-text h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
    color:#095EBA;
    
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.first-document .first-document-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, white);
}
.first-document a{
    display: inline-block;
    color: rgb(0,61,164);
    background-color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 75px;
    border: 2px solid #003da4;
    margin-top: 0px;
}
.first-document li{
    font-size: 16px;
    line-height: 160%;
}
.first-document ul li{ 
    font-size: 14px;
    color:#0969B0;
    line-height: 180%;
    font-weight:bolder;
}

.first-document a:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2); 
    color: white;
    background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    padding: 7px;
    transition: 0.7s;
    border-radius: 75px;
}
.more { 
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    
}
.more::before { 
  content: 'Прочети още';  
}
.first-document.active .more::before {
    content: 'ЗАТВОРИ';
}
.first-document.active .more {
    background-color: #003da4;
    color: white;
}
.content {
    height: 200px;
}
.first-document.active .content{
    height: auto;
}
.first-document.active .first-document-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, white);
    display: none;
}
/* text ofromlenie */
.second-document {
    max-width: 1000px;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}
.second-document-text {
    position: relative;
    
    overflow: hidden;
}
.second-content {
    height: 200px;
}
.second-document-text h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
    color:#095EBA;
    
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.red { 
    color: red;
}
.second-document .second-document-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, white);
}
.second-document a{
    display: inline-block;
    color: rgb(0,61,164);
    background-color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 75px;
    border: 2px solid #003da4;
    margin-top: 0px;
}
.second-document a:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2); 
    color: white;
    background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    padding: 7px;
    transition: 0.7s;
    border-radius: 75px;
}
.second-more { 
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    
}
.second-more::before { 
    content: 'Прочети още';  
  }
  .second-document.active .more::before {
    content: 'ЗАТВОРИ';
}
.second-document.active .more {
    background-color: #003da4;
    color: white;
}
.second-document.active .second-content{
    height: auto;
}
.second-document.active .second-document-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, white);
    display: none;
}
.content p {
    font-size: 16px;
    line-height: 160%;
    color: #0969B0;
}
.second-content p{
    font-size: 16px;
    line-height: 160%;
    color: #0969B0;
}
.second-content li{
    font-size: 16px;
    line-height: 160%;
}
.second-content ul li{ 
    font-size: 14px;
    color:#0969B0;
    line-height: 180%;
    font-weight:bolder;
}

.second-content ol li{ 
    color:#0969B0;
        font-weight:bolder;
      

      
      
}
.second-content ol li span {
    color:#0969B0;
    font-weight: normal;
 }
   
   .footerp { 
       display: grid;
       
       
   }
    /* Footer */
   .footer {
       margin-top: 20px;
       box-sizing: border-box;
       display:-webkit-flex;
       display: -moz-flex;
       display: -ms-flex;
       display: -o-flex;
       display: flex;
       flex-flow: row wrap;
       padding: 50px;
       color: rgb(212, 212, 212);
       background-color: #002564;
      
   }
   .Footer > *{
       flex: 1 100%;
   }
   .footer-left {
       margin-right: 1.25em;
       margin-bottom: 2em;
   }
   
   h2 { 
       font-weight: 600;
       font-size: 17px;
   }
   .footer ul {
       list-style: none;
       padding-left: 0;
   }
   .footer li {
       line-height: 2em;
   }.footer a { 
       text-decoration: none;
   }
   .footer-right{
       display: -webkit-flex;
       display: -moz-flex;
       display: -ms-flex;
       display: -o-flex;
       display: flex;
       flex-flow: row wrap;
   }
   .footer-right > *{
       flex: 1 50%;
       margin-right: 1.25em;

   }
   .box a {
       color: rgb(212, 212, 212);
   }
   .footer-bottom { 
       text-align: center;
       color: rgb(212, 212, 212);
       padding-top: 50px;

   }
   .footer-left p{
       padding-right: 20px;
       color: rgb(212, 212, 212);
   }
 
   .socials a{
       background: #364a62;
       width: 40px;
       height: 40px;
       display: inline-block;
       margin-left: 20px;
       
       
   }
   .footer {
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
   }
   .socials a i{
       color: #e7f2f4;
        
       padding: 10px 12px;
       font-size: 20px;
   }
   @media screen and (min-width: 600px)
    {
        .footer-right > * {
            flex: 1;
        }
        .footer-left > * {
            flex: 1 0px;
        }
        .footer-right > * { 
            flex: 2 0px;
        }
    }
    @media (max-width: 600px) {
        .footer { 
            padding: 15px;
            
        }
        main { 
            font-size: 15px;
        }
    }
    .footer-right {
        margin-top: 0px;
    }

    /* PLANIRANE */
  /* PLANIRANE */
  /* PLANIRANE */
  /* PLANIRANE */
    /* PLANIRANE */
    .planirane-main {
        
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .planirane-box {
        
        
        margin-right: auto;
        margin-left:auto;
        max-width: 1000px;
        align-items:inherit;
        
        
        
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    }
    .planirane-box1 {
        display: inline-flex;
        
        max-width: 500px;
        align-items:inherit;
        text-align: center;
        
        
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    }
    .finansova-kushta {
        max-width: 100%;
        height: 400px;
        position: relative;
    }
    .triangle { 
            margin-left: auto;
            margin-right: auto;
           
            width: 0;
            height: 0;
            border-left: 150px solid transparent;
            border-right: 150px solid transparent;
            border-bottom: 100px solid #0969B0;
            
    }
    .triangle-content { 
        white-space: nowrap;
        position: absolute ;
        top: 12%;
        left: 41%;
        color: white;
        
    }
    .triangle-content2 {
        white-space: nowrap;
        position: absolute;
        top: 6%;
        left: 46%;
        color: white;
    }
    .box1 { 
        text-align: center;
           position: absolute;
            left: 35%;
            color: white;
            width: 100px;
            height: 50px;
            background: #0969B0;
            
    }
    .box2 { 
        text-align: center;
        color: white;
        width: 100px;
        height: 50px;
        background: #0969B0;
        position: absolute;
            left: 55%;
    }
    .box3 {
        text-align: center;
        color: white;
        max-width: 100px;
        height: 50px;
        background: #0969B0;
        position: absolute;
        left: 55%;
        top: 40%;
    }
    .box4 {
        text-align: center;
        color: white;
        max-width: 100px;
        height: 50px;
        background: #0969B0;
        position: absolute;
        left: 35%;
        top: 40%;
    }
    .oval { 
        text-align: center;
        
        color: white;
        max-width: 120px;
        height: 50px;
        background: #6cbcfa;
        border-radius: 100px / 50px;
        position: absolute;
        top: 32%;
        left: 44%;
        
    }
    .pod { 
        max-width: 300px;
        height: 120px;
        color: white;
        background: #0969B0;
        white-space: wrap;
        position: absolute;
        top: 55%;
        left: 35%;
    }
   .jpgstol {
        max-width: 300px;
        display: inherit;
        height: auto;
        margin-left: auto;
        margin-right: auto;
   }
   .bold { 
       font-weight: 600;
   }
    .planirane-box {
        font-size: 14px;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
        
}
.planirane-box h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
    color:#095EBA;
    
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.planirane-box a{
    display: inline-block;
    color: rgb(0,61,164);
    background-color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 75px;
    border: 2px solid #003da4;
    margin-top: 0px;
}
.planirane-box a:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2); 
    color: white;
    background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    padding: 7px;
    transition: 0.7s;
    border-radius: 75px;
}

   @media (max-width: 600px) {
    body { 
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        max-width: 1200px;
        
        box-sizing:border-box;
        font-family: verdana;
        font-size: 10px;
        border-bottom: 5px solid #003da4;
        border-radius: 5px;
       
        
        
    }
   
    .uk {
        border-radius: 20px;
        
        
    }
    
    .bg {
        border-radius: 20px;
        
        
    
    }
    .up-nav { 
        
        display:none;
        align-items: center;
        
        
        
        
    }
    .up-nav a{ 
        display: flex;
        color:#003da4;
        justify-content: flex-end;
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
       
        
        
        
        
    }
    
    .up-nav-ul { 
        justify-content: flex-end;
        display: flex;
        
        flex-direction: row;
        flex-wrap:wrap;
        border-radius: 8px;
      
        
        
        
        
    }
    .up-nav li a {
        background-color:rgb(247, 247, 247);
        padding-left: 3px;
        padding-right: 3px;
        
        border-radius: 75px;
    }
    
    .up-nav li a:hover {
      color: rgb(255, 255, 255);
      
    }
    .up-nav a:hover, .up-nav a:active {
        background: rgb(0,61,164);
        background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
        
        transition: 0.5s;
        border-radius: 75px;
      }
      .down-nav { 
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
        
       
    }
   .logo {
       height: 150px;
       
   }
   .inline2 {
       padding: 0px;
       
   }
    .inline2 { 
        margin-top: 0px;
        
        
        
    }
    .inline-search {
        padding-left: 3px;
        padding-right: 3px;
    }
    .down-nav a{ 
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
        margin-bottom: 5px;
        align-items:center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        font-size: 15px;
        color:#003da4;
        font-weight: 600;
        padding-left: 0px;
       
       
    }
    .down-nav li a {
        background-color:#0148c4;
        color: white;
        border-radius: 75px;
        
    }
    .osigurqvane {
        margin-top: 20px;
        width: 80%;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    }
    .zastrahovane {
        margin-top: 20px;
        width: 80%;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    }
    .planirane {
        margin-top: 20px;
        width: 80%;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    }
    .biznes {
        margin-top: 20px;
        width: 80%;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    }
    .down-nav-ul {
        margin-top: 110px;
        padding: 0px;
        flex-wrap:nowrap;
    }
    .down-nav li a:hover {
      color: rgb(255, 255, 255);
    }
    .down-nav a:hover, .down-nav a:active {
        background: rgb(0,61,164);
        background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
        padding: 10px;
        transition: 0.7s;
        border-radius: 75px;
      }
    .down-nav-ul { 
        display: inline-flex;
        flex-direction: column;
        
        
        
        
        
    }
    .center { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 10px;
        color:#095EBA;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
    .eurolife-main { 
        color: #003da4;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        padding-bottom: 20px;
        border-radius: 5px;
        
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
        
    }
    
    .why-to-chose {
        color: #003da4;
        margin-top: 5px;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    }
    .box-a { 
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
        
    }
    .box-a p{
        font-size: 16px;
    }
    .header-why{
       
        font-size: 25px;
        color:#095EBA;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }
    .box-a{
        width:80%;
        float: left;
        margin: 10px 20px;
        
    }
    .info { 
        padding-inline-start: 0px;
    }
    .person-bio {
        
        
    }
    .first-person {
        position: relative;
        width: 585px;
        height: 300px;
        
        flex-direction: column;
        border-color:#8d2828; border-style:transparent;
        border-width:2px;
        
        margin: 5px;
        border-radius: 20px;
        
        background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
    box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .first-person-img {
        object-fit: cover;
        position: absolute;
        margin-top: 25px;
        
        left: 25px;
        max-width: 400px;
        height: 250px;
        border-radius: 20px;
       
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
        box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .first-person-text {
        margin: 15px;
        font-size: 7px;
        padding-left: 20px;
        margin-left: 50px;
        line-height: 0;
        letter-spacing: 4px;
        color:rgb(255, 255, 255);
        font-weight: 500;
       
        text-shadow: 2px 2px 2px rgba(0,0,0,0.79);
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
        box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .email {
        color: rgb(236, 61, 61);
        font-weight: 600;
    }
    .second-person {
        position: relative;
        width: 585px;
        height: 300px;
        
        border-color:#8d2828; border-style:transparent;
        border-width:2px;
        justify-content: center;
        margin: 5px;
        border-radius: 20px;
        justify-content: flex-end;
        background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
    box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .second-person-img {
        object-fit: cover;
        position: absolute;
        margin-top: 25px;
        
        left: 25px;
        max-width: 400px;
        height: 250px;
        border-radius: 20px;
       
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .second-person-text {
        margin: 15px;
        font-size: 7px;
        padding-left: 20px;
        margin-left: 50px;
        line-height: 0;
        letter-spacing: 4px;
        color:white;
        font-weight: 500;
       
        text-shadow: 2px 2px 2px rgba(0,0,0,0.79);
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
        box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .second-person-bio {
        display:inline-flex;
        flex-direction: column;
    }
    
    .third-person {
        position: relative;
        width: 585px;
        height: 300px;
        display: flex;
        flex-direction: row;
        border-color:#8d2828; border-style:transparent;
        border-width:2px;
        justify-content: center;
        margin: 5px;
        border-radius: 20px;
        justify-content: flex-end;
        background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
    box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
   
    .third-person-img {
        object-fit: cover;
        position: absolute;
        margin-top: 25px;
        
        left: 25px;
        max-width: 400px;
        height: 250px;
        border-radius: 20px;
       
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .third-person-text {
        margin: 15px;
        font-size: 7px;
        padding-left: 20px;
        margin-left: 50px;
        line-height: 0;
        letter-spacing: 4px;
        color:rgb(255, 255, 255);
        font-weight: 500;
       
        text-shadow: 2px 2px 2px rgba(0,0,0,0.79);
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
        box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .third-person-bio {
        display:inline-flex;
        flex-direction: column;
    }
    .footerp { 
        display: grid;
        
        
    }
     /* Footer */
    .footer {
        margin-top: 20px;
        box-sizing: border-box;
        display:-webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row wrap;
        padding: 50px;
        color: rgb(212, 212, 212);
        background-color: #002564;
       
    }
    .Footer > *{
        flex: 1 100%;
    }
    .footer-left {
        margin-right: 1.25em;
        margin-bottom: 2em;
    }
    
    h2 { 
        font-weight: 600;
        font-size: 17px;
    }
    .footer ul {
        list-style: none;
        padding-left: 0;
    }
    .footer li {
        line-height: 2em;
    }.footer a { 
        text-decoration: none;
    }
    .footer-right{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row wrap;
        
    }
    .footer-right > *{
        flex: 1 50%;
        margin-right: 1.25em;
 
    }
    .box a {
        color: rgb(212, 212, 212);
    }
    .footer-bottom { 
        text-align: center;
        color: rgb(212, 212, 212);
        padding-top: 50px;
 
    }
    .footer-left p{
        padding-right: 20px;
        color: rgb(212, 212, 212);
    }
  
    .socials a{
        background: #364a62;
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-left: 30px;
        
        
    }
    .footer {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .socials a i{
        color: #e7f2f4;
         
        padding: 10px 12px;
        font-size: 20px;
    }
    .finansova-kushta {
        max-width: 100%;
        height: 400px;
        position: relative;
    }
    .triangle { 
            margin-left: auto;
            margin-right: auto;
            
            width: 0;
            height: 0;
            border-left: 150px solid transparent;
            border-right: 150px solid transparent;
            border-bottom: 100px solid #0969B0;
            
    }
    .triangle-content { 
        white-space: nowrap;
        position: absolute;
        top: 12%;
        left: 33%;
        color: white;
    }
    .triangle-content2 {
        white-space: nowrap;
        position: absolute;
        top: 6%;
        left: 42%;
        color: white;
    }
    .box1 { 
        text-align: center;
           position: absolute;
            left: 20%;
            color: white;
            width: 100px;
            height: 50px;
            background: #0969B0;
            
    }
    .box2 { 
        text-align: center;
        color: white;
        width: 100px;
        height: 50px;
        background: #0969B0;
        position: absolute;
            left: 60%;
    }
    .box3 {
        text-align: center;
        color: white;
        max-width: 100px;
        height: 50px;
        background: #0969B0;
        position: absolute;
        left: 60%;
        top: 40%;
    }
    .box4 {
        text-align: center;
        color: white;
        max-width: 100px;
        height: 50px;
        background: #0969B0;
        position: absolute;
        left: 20%;
        top: 40%;
    }
    .oval { 
        text-align: center;
        
        color: white;
        max-width: 120px;
        height: 50px;
        background: #6cbcfa;
        border-radius: 100px / 50px;
        position: absolute;
        top: 32%;
        left: 38%;
        
    }
    .pod { 
        max-width: 300px;
        height: 120px;
        color: white;
        background: #0969B0;
        white-space: wrap;
        position: absolute;
        top: 55%;
        left: 20%;
    }
   }
   .tg  {
       color:#003da4;
       max-width: 700px;
       margin-left: auto;
       margin-right: auto;
       border-collapse:collapse;
       border-spacing:0;
       margin-top: 20px;
       margin-bottom: 20px;
       
       box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    }
.tg td{
    border-color:#003da4; border-style:solid;
    border-width:2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
     overflow:hidden;
    padding:10px 5px;
  
    
  word-break:normal;
}
.tg th{border-color:#003da4;
    border-style:solid;
    border-width:2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;

    vertical-align:top}
    .person-bio {
        display:inline-flex;
        
    }
    .first-person {
        position: relative;
        width: 380px;
        height: 200px;
        display: flex;
        flex-direction: row;
        border-color:#8d2828; border-style:transparent;
        border-width:2px;
        justify-content: center;
        margin: 5px;
        border-radius: 20px;
        justify-content: flex-end;
        background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
    box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .first-person-img {
        object-fit: cover;
        position: absolute;
        margin-top: 25px;
        
        left: 25px;
        max-width: 400px;
        height: 250px;
        border-radius: 20px;
       
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .first-person-text {
        margin: 15px;
        font-size: 14px;
        padding-left: 20px;
        margin-left: 50px;
        line-height: 1.7;
        letter-spacing: 4px;
        color:white;
        font-weight: 500;
       
        text-shadow: 2px 2px 2px rgba(0,0,0,0.79);
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
        box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .email {
        color: rgb(236, 61, 61);
        font-weight: 600;
    }
    .second-person {
        position: relative;
        width: 380px;
        height: 200px;
        display: flex;
        flex-direction: row;
        border-color:#8d2828; border-style:transparent;
        border-width:2px;
        justify-content: center;
        margin: 5px;
        border-radius: 20px;
        justify-content: flex-end;
        background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
    box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .second-person-img {
        object-fit: cover;
        position: absolute;
        margin-top: 25px;
        
        left: 25px;
        max-width: 400px;
        height: 250px;
        border-radius: 20px;
       
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .second-person-text {
        margin: 15px;
        font-size: 14px;
        margin-left: 50px;
        line-height: 1.7;
        padding-left: 20px;
        letter-spacing: 4px;
        color:white;
        font-weight: 500;
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
text-shadow: 2px 2px 2px rgba(0,0,0,0.79);
    }
    .second-person-bio {
        display:inline-flex;
    
    }
    
    .third-person {
        position: relative;
        width: 380px;
        height: 200px;
        display: inline-flex;
        flex-direction: column;
        border-color:#8d2828; border-style:transparent;
        border-width:2px;
        justify-content: center;
        margin: 5px;
        border-radius: 20px;
        justify-content: flex-end;
        background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
    box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
   
    .third-person-img {
        object-fit: cover;
        position: absolute;
        margin-top: 25px;
        
        left: 25px;
        max-width: 400px;
        height: 250px;
        border-radius: 20px;
       
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
    }
    .third-person-text {
        margin: 15px;
        font-size: 14px;
        margin-left: 50px;
        line-height: 1.7;
        padding-left: 20px;
        letter-spacing: 4px;
        color:white;
        font-weight: 500;
        -webkit-box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38); 
box-shadow: 6px 13px 15px -1px rgba(0,0,0,0.38);
text-shadow: 2px 2px 2px rgba(0,0,0,0.79);
    }
    .third-person-bio {
        display:inline-flex;
    
    }
   .reviews{
       
       max-width: 1000px;
       height: 20rem;
       margin-left:auto;
       margin-right: auto;
       background: greenyellow;
       border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
   }
   .osigurqvane {
    border-top: 5px solid #0f4f9b;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    margin-bottom: 20px;
}
.zastrahovane {
    border-top: 5px solid #0f4f9b;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    margin-bottom: 20px;
}
.planirane {
    border-top: 5px solid #0f4f9b;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    margin-bottom: 20px;
}
.biznes {
    border-top: 5px solid #0f4f9b;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    margin-bottom: 20px;
}

.inline-search {
    color: #0f4f9b;
    font-weight: 700;
    border-width: 1px;
    border-radius: 75px;
    border-color: #0f4f9b;
}
@media (max-width: 900px) {
    .logo {
        width: 150px;
    }
}
@media (max-width: 730px) {
    .up-nav {
        display: none;
    }
    .logo {
      position: absolute;
       left: 10%;
       width: 300px;
    }

}

@media (max-width: 800px) {
    .person-bio {
        display:inline-flex;
        flex-direction: column;
        
        
        text-align: center;

    }
    .container2 {
        
       align-items: baseline;
    }
    .container3 {
        display: inline-flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .second-person-bio {
        display:inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .third-person-bio {
        display:inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body { 
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        max-width: 1200px;
        
        box-sizing:border-box;
        font-family: verdana;
        font-size: 10px;
        border-bottom: 5px solid #0f4f9b;
        border-radius: 5px;
       
        
        
    }
   
    .uk {
        border-radius: 20px;
        
        
    }
    
    .bg {
        border-radius: 20px;
        
        
    
    }
    .up-nav { 
        
        
        align-items: center;
        
        
        
        
    }
    .up-nav a{ 
        display: flex;
        color:#0f4f9b;
        justify-content: flex-end;
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
       
        
        
        
        
    }
    
    .up-nav-ul { 
        justify-content: flex-end;
        display: flex;
        
        flex-direction: row;
        flex-wrap:wrap;
        border-radius: 8px;
      
        
        
        
        
    }
    .up-nav li a {
        background-color:rgb(247, 247, 247);
        padding-left: 3px;
        padding-right: 3px;
        
        border-radius: 75px;
    }
    
    .up-nav li a:hover {
      color: rgb(255, 255, 255);
      
    }
    .up-nav a:hover, .up-nav a:active {
        background: rgb(0,61,164);
        background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
        
        transition: 0.5s;
        border-radius: 75px;
      }
      .down-nav { 
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
        
       
    }
    .logo {
       
        max-width: 200px;
        
        height:150px;
        
       
    }
   .inline2 {
       padding: 0px;
       
   }
    .inline2 { 
        margin-top: 0px;
        
        
        
    }
    .inline-search {
        padding-left: 3px;
        padding-right: 3px;
    }
    .down-nav a{ 
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
        margin-bottom: 5px;
        align-items:center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        font-size: 15px;
        color:#0f4f9b;
        font-weight: 600;
        padding-left: 0px;
       
       
    }
    .down-nav li a {
        background-color:#0f4f9b;
        color: white;
        border-radius: 75px;
        
    }
    .osigurqvane {
        margin-top: 20px;
        width: 80%;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    }
    .zastrahovane {
        margin-top: 20px;
        width: 80%;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    }
    .planirane {
        margin-top: 20px;
        width: 80%;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    }
    .biznes {
        margin-top: 20px;
        width: 80%;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    }
    .down-nav-ul {
        margin-top: 110px;
        padding: 0px;
        flex-wrap:nowrap;
    }
    .down-nav li a:hover {
      color: rgb(255, 255, 255);
    }
    .down-nav a:hover, .down-nav a:active {
        background: rgb(0,61,164);
        background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
        padding: 10px;
        transition: 0.7s;
        border-radius: 75px;
      }
    .down-nav-ul { 
        display: inline-flex;
        flex-direction: column;
        
        
        
        
        
    }
    .center { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 10px;
        color:#0f4f9b;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
    .eurolife-main { 
        color: #0f4f9b;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        padding-bottom: 20px;
        border-radius: 5px;
        
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
        
    }
    
    .why-to-chose {
        color: #0f4f9b;
        margin-top: 5px;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    }
    .box-a { 
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
        
    }
    .box-a p{
        font-size: 16px;
    }
    .header-why{
       
        font-size: 25px;
        color:#0f4f9b;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }
    .box-a{
        width:80%;
        float: left;
        margin: 10px 20px;
        
    }
    .info { 
        padding-inline-start: 0px;
    }
    
 }
 ol {
     color:#0969B0;
 }
 /* Produkti */
 /**/
 /**/
 
.product-container {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 40px auto;
 }
 .product-container .product-box {
    position:relative;
    width: calc(300px - 30px);
    height: calc(320px - 30px);
    background: white;
    margin: 15px;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color:#002564;
    box-shadow: 10px 5px 5px rgba(1,2,0,0.15);
 }
 .product-title {
    color: 
    #f7f7f7;
    font-size: 2vh;
    position:absolute;
    
    text-align: center;
    Margin-top: 0px;
 }
 .product-container .product-box .product-title {
     
     top: 0;
     left: 0;
     width:100%;
     height:100%;
     background: #002564;
     transition: 0.2s;
     z-index: 1;
     line-height: 1.6;
     text-align: center;
     align-items: center;
     justify-content: center;
     font-size: 25px;
     text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    
 }
 .product-container .product-box:hover .product-title {
     
     bottom: 100%;
     visibility: hidden;
     transition: 0.5s;
     width: 100%;
     height: 0px;
     border-radius: 10px;
     
 }
 .product-container .product-box:hover {
    border-color:#F28033;
    transition: 2s;
   
 }

 .product-content {
     padding-left: 15px;
     padding-right: 15px;
     text-align:left;
     font-size: 12px;

     color:#F28033;
 }
 .product-main-title {
     font-size: 48px;
     margin: 0;
     text-align: center;
     background: -webkit-linear-gradient(90deg, #f28033 0%, #DB8823 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-shadow: 2px 4px 3px rgba(255, 255, 255, 0.3);
     }  
     .product-buttons {
        position:relative;
        width: calc(300px - 30px);
        height: calc(60px - 30px);
        background: #f28033;
        margin-left:15px;
        margin-right:15px;
        float: left;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(242,128,51);
        text-decoration: none;
        
        background: rgb(242,128,51);
        background: linear-gradient(90deg, rgba(242,128,51,1) 35%, rgba(219,136,35,1) 68%);
        text-align: center;
        font-size: 16px;
        padding-top: 2px;
     }
     .product-buttons:hover{
        position:relative;
        width: calc(300px - 30px);
        height: calc(60px - 30px);
        background: rgb(16, 196, 85);
        margin-left:15px;
        margin-right:15px;
        float: left;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
        border-color:rgb(16, 196, 85);
        box-shadow: 10px 5px 5px rgba(1,2,0,0.15);
        text-align: center;
        font-size: 16px;
        padding-top: 2px;
     }
 /* SLider */
 /**/
 /**/ /* Slider */
 /**/
 /**/

     .slidershow {
         width: 1200px;
         height: 400px;
         overflow: hidden;
         position:relative;
         margin-bottom: 40px;
     }
     
     .navigation {
         position: absolute;
         bottom: 3%;
         left: 50%;
         transform: translateX(-50%);
     }
     /* .bar {
         width: 50px;
         height: 10px;
         border: 2px solid #f26a39;
         margin: 12px;
         background: #f26a39;
         padding-left: 50px;
         padding-right: 50px;
         border-radius: 10px;
         cursor: pointer;
         transition: 0.8s;
         box-shadow: 0 5px 5px rgba(0,0,0,0.15);
         }
         .bar:hover {
            background: #0f4f9b;
            border: #003da4;
            border-radius: 10px;
            box-shadow: 0 5px 5px rgba(0,0,0,0.15);
         } */
         .bar {
            border: 5em;
            cursor: pointer;
            outline: none;
            font-size:8px;
            -webkit-transform: translate(0);
            transform: translate(0);
            background-image: linear-gradient(45deg, #0f4f9b, #f15a24);
            padding: 0.1em 7em;
            border-radius: 65px;
            box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
            -webkit-transition: box-shadow 0.25s;
            transition: box-shadow 0.25s;
            color: white;
            margin-left: 5px;
            margin-right: 5px;
          }
          
          
          
          .bar:after {
            content: "";
            border-radius: 18px;
            position: absolute;
            margin: 4px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            
          }
          
          .bar:hover {
            background-image: linear-gradient(-45deg,  #0f4f9b, #f15a24);
            box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
          }
          
          .bar:hover .text {
            background-image: linear-gradient(-45deg, #0f4f9b, #f15a24);
          }
      input[name="r"] {
          position:absolute;
          visibility: hidden;
      }
      .slides { 
          width: 400%;
          height: 100%;
          display: flex;
      }
      .slide {
          width: 25%;
          transition: 0.6s;
      }
      .slide img { 
          width: 100%;
          height: 100%;
      }

      #r1:checked ~ .s1{
          margin-left: 0;
      }
      #r2:checked ~ .s2 {
          margin-left: -25%;
      }
      #r3:checked ~ .s3 {
          margin-left: -50%;
      }
      #r4:checked ~ .s4 {
        margin-left: -75%;
    }
 
      
      *, *:before, *:after {
        box-sizing: inherit;
      }
      
      .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
      }
      
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
        border-top: 5px solid #0f4f9b;
        border-radius: 5px;
      }
      
     
      
      .container {
        padding: 0 16px;
      }
      
      .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .title {
        color: grey;
      }
      
      .button {
          
        border-radius: 75px;
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #0f4f9b;
        text-align: center;
        cursor: pointer;
        width: 100%;
        
      }
      
      .button:hover {
        background-color: #F28033;
        transition: 0.3s;
      }
      
      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }
      .contact-image {
          object-fit: cover;
          height: 500px;
          
      }
      .container_contact {
        padding: 6px 16px;
        font-size: 12px;
        position:relative;
    }

    /* contact form ==== */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content/Box */
      .modal-content {
        background-color: #fefefe;
        border-radius: 10px;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
        width: 30%; /* Could be more or less, depending on screen size */
        text-align: center;
        font-size: 12px;
        
      }
      
      
      .close {
        color: #0f4f9b;
        float: right;
        font-size: 28px;
        font-weight: bold;
        
      }
      
      .close:hover,
      .close:focus {
        color: #F28033;
        text-decoration: none;
        cursor: pointer;
      }

      /*the container must be positioned relative:*/
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: #F28033;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #F28033;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .contact-form {
      text-align: center;
      font-size: 14px;
      
  }
  
  .form-control {
      border-style: none;
      font-size: 16px;
      background: transparent;
      margin-top: 50px;
      border: none;
      outline: none;
      padding: 5px;
      border: 1px solid #eff0f1;
      border-radius: 20px;
      letter-spacing: 1px;
      box-shadow: 0 5px 5px rgba(0,0,0,0.15);
  }
 form .submit {
     background: #F28033;
     color: #fff;
     font-size: 18px;
     width: 25%;
 }
 form .submit:hover {
    background: #ff6702;
    color: #fff;
    font-size: 18px;
}
 .consent-data {
     width: 250px;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     background: #eff0f1;
     padding-left: 5px;
     padding-right: 5px;
     padding-top: 2px;
     padding-bottom: 2px;
     border: 1px solid #d3d2d2;
     border-radius: 5px;
 }
 textarea {
     resize: none;
     
 }
 .third-document {
    max-width: 1000px;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}
.third-document-text {
    position: relative;
    
    overflow: hidden;
}
.third-content {
    height: 200px;
}
.third-document-text h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
    color:#095EBA;
    
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.third-document .third-document-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, white);
}
.third-document a{
    display: inline-block;
    color: rgb(0,61,164);
    background-color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 75px;
    border: 2px solid #003da4;
    margin-top: 0px;
}
.third-document li{
    font-size: 16px;
    line-height: 160%;
}
.third-document ul li{ 
    font-size: 14px;
    color:#0969B0;
    line-height: 180%;
    font-weight:bolder;
}

.third-document a:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2); 
    color: white;
    background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    padding: 7px;
    transition: 0.7s;
    border-radius: 75px;
}
.third-more { 
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    
}
.third-more::before { 
    content: 'Прочети още';  
  }
  .third-document.active .more::before {
    content: 'ЗАТВОРИ';
}
.third-document.active .more {
    background-color: #003da4;
    color: white;
}
.third-document.active .third-content{
    height: auto;
}
.third-document.active .third-document-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, white);
    display: none;
}
.content p {
    font-size: 16px;
    line-height: 160%;
    color: #0969B0;
}
.third-content p{
    font-size: 16px;
    line-height: 160%;
    color: #0969B0;
}
.third-content li{
    font-size: 16px;
    line-height: 160%;
}
.third-content ul li{ 
    font-size: 14px;
    color:#0969B0;
    line-height: 180%;
    font-weight:bolder;
}

.third-content ol li{ 
    color:#0969B0;
        font-weight:bolder;
      

      
      
}
.third-content ol li span {
    color:#0969B0;
    font-weight: normal;
 }
 .date {
     position:absolute;
     top: 10px;
     left: 880px;
 }
 .fourth-document {
    max-width: 1000px;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}
.fourth-document-text {
    position: relative;
    
    overflow: hidden;
}
.fourth-content {
    height: 200px;
}
.fourth-document-text h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
    color:#095EBA;
    
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.fourth-document .fourth-document-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, white);
}
.fourth-document a{
    display: inline-block;
    color: rgb(0,61,164);
    background-color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 75px;
    border: 2px solid #003da4;
    margin-top: 0px;
}
.fourth-document li{
    font-size: 16px;
    line-height: 160%;
}
.fourth-document ul li{ 
    font-size: 14px;
    color:#0969B0;
    line-height: 180%;
    font-weight:bolder;
}

.fourth-document a:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2); 
    color: white;
    background: rgb(0,61,164);
    background: linear-gradient(90deg, rgba(0,61,164,1) 0%, rgba(0,105,215,1) 100%);
    padding: 7px;
    transition: 0.7s;
    border-radius: 75px;
}
.fourth-more { 
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    
}
.fourth-more::before { 
    content: 'Прочети още';  
  }
  .fourth-document.active .more::before {
    content: 'ЗАТВОРИ';
}
.fourth-document.active .more {
    background-color: #003da4;
    color: white;
}
.fourth-document.active .fourth-content{
    height: auto;
}
.fourth-document.active .fourth-document-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, white);
    display: none;
}

.fourth-content p{
    font-size: 16px;
    line-height: 160%;
    color: #0969B0;
}
.fourth-content li{
    font-size: 16px;
    line-height: 160%;
}
.fourth-content ul li{ 
    font-size: 14px;
    color:#0969B0;
    line-height: 180%;
    font-weight:bolder;
}

.fourth-content ol li{ 
    color:#0969B0;
        font-weight:bolder;
      

      
      
}
.fourth-content ol li span {
    color:#0969B0;
    font-weight: normal;
 }
.footer-logo {
    height: 200px;
}
.fa.fa-twitter {
    padding-left: 10px;
}
.fa.fa-youtube {
    padding-left: 8px;
}
.fa.fa-facebook {
    padding-left: 14px;
}